body{padding-top: 60px;}



/*mensagens css*/
.mensagens-container{padding-top: 20px; margin-top: 10px;}
.mensagens-container ul.msg{list-style: none; margin-left: 0; margin-top: 10px}
.mensagens-container ul.msg li{list-style: none; cursor: pointer; border-bottom: 1px solid #DDDDDD; padding: 5px 10px 5px 10px; position: relative; opacity: 0.5; overflow: hidden;}
.mensagens-container ul.msg li *{font-weight: normal; color: #0088cc; font-size: 12px}
.mensagens-container ul.msg li span.para{display: block; clear: left; }

.mensagens-container ul.msg li span.de{display: none; clear: left; }
.mensagens-container ul.msg li .date{display: none; clear: both; }
.mensagens-container ul.msg li h6{margin:1px 0; display: block}
.mensagens-container ul.msg li:hover{background: #F5F5F5; opacity:1;}
.mensagens-container ul.msg li.msg-active:after{ color: #FFFFFF; content: ">"; display: block; font-size: 53px; position: absolute; right: -30px; text-shadow: -33px 1px 3px #FFFFFF; top: 24px;}
.mensagens-container ul.msg li.msg-active{ opacity:1; background: #0088cc}
.mensagens-container ul.msg li.msg-active *{color: #FFF;}

.customSelect {width: 300px;}